/*-- scss:defaults --*/
$color-body: #0d0c1d;
$color-muted: #161b33;
$color-highlight-1: #17A398;
$color-highlight-2: #EE6C4D;

/*-- scss:rules --*/
.navbar-brand {
  transition: color 0.2s ease; // smooth hover effect
}
a.nav-link:hover {
  color: $color-highlight-1;
}

div.quarto-post a {
  color: $color-body;
  transition: color 0.2s ease; // smooth hover effect

  &:hover {
    color: $color-highlight-1;
  }
}

blockquote {
  border-left: 4px solid $color-body;
  padding-left: 1rem;
  font-style: italic;
}

code {
  color: $color-highlight-2;
}

p {
  color: $color-muted;
}
