project:
  type: website

website:
  title: "Francisco A. B. Sampaio"
  site-url: "https://franciscoabsampaio.com"   # Important for RSS to work correctly
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: blog.qmd
        text: Blog

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
