:root {
  /* ===== Color palette ===== */
  --color-body: #0d0c1d;
  --color-muted: #161b33;
  --color-highlight-1: #17A398;
  --color-highlight-2: #EE6C4D;
  --bs-navbar-hover-color: var(--color-highlight-1);
}

.listing-title a {
  color: var(--color-body);              /* Lux primary blue */
  transition: color 0.2s ease; /* smooth hover effect */
}

.listing-title a:hover {
  color: var(--color-highlight-1);              /* darker hover shade */
}

blockquote {
  border-left: 4px solid var(--color-body); /* subtle left border */
  padding-left: 1rem;       /* space between border and text */
  font-style: italic;
}

p {
  color: var(--color-muted);
}